{% extends 'menu.html' %}

{% block title %} Formulário {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="font-size:190%">Dados Bancários</h1>
            
            <form action="{% url 'formulario:formulario_dados_bancarios_enviado' %}" method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="input-group col-md-6">
                        <label for="{{ field.id_for_label }}">{{ field.label }}
                            {% if field.field.required %}
                                <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                            {% endif %}
                        </label>
                        <div class="input-group mb-3">
                            {{field}}
                        </div>
                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                        {{ field.errors }}  
                    </div>                        
                {% endfor %}            
                
                
                <div style="margin-top: 20px; display: flex; justify-content: space-between; margin-bottom: 35px;">
                    <input type="button" class="btn btn-secondary btn-block" value="Anterior" style="flex: .4; margin-right: 5px" onclick="irParaFormulario()">
                    <input type="button" class="btn btn-primary" value="Enviar" data-bs-toggle="modal" data-bs-target="#exampleModal" style="flex: .4;margin-left: 5px">
                    {% comment %} <input type="" class="btn btn-primary btn-block" value="Próximo" style="flex: .4;margin-left: 5px"> {% endcomment %}
                </div>

                 <!-- Modal -->
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enviar o formulário?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Declaro, sob as penas da Lei, ínsitas no art. 299, do CPB, que todas as informações aqui prestadas são verdadeiras, e que não omiti nenhum fato
                            que impossibilitasse minha matrícula no Curso de Formação, bem como autorizo a Polícia Civil do Estado do Acre a realizar investigação social
                            em minha vida pretérita para confirmar as informações prestadas e verificar se possuo conduta irrepreensível e idoneidade moral inatacável para
                            exercer o cargo pretendido.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Formulário</button>
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function irParaFormulario() {
        // Coloque aqui a lógica da função que deseja executar ao clicar em "Anterior"
        
        // Redireciona para a página "/formulario"
        window.location.href = "/formulario_email_redes_sociais";
    }
</script>

{% endblock %}