{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Formulário {% endblock %}

{% block content %}
<style>
    #id_data_nasc_candidato {
        padding: 6px 12px; 
    }
    #calendar_icon {
        position: absolute;
        right: 130px;
        top: 50%;
        transform: translateY(-50%);
        border: none; /* Remove a borda do input */
        box-shadow: none; 
        background: transparent;
        pointer-events: none; /* Torna o elemento não interativo */
    }
</style>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 style="font-size:190%">Dados Adicionais do Candidato</h1>
                
                <form action="{% url 'formulario:formulario_dados_adicionais_enviado' %}" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="input-group col-md-6">
                            <label for="{{ field.id_for_label }}">{{ field.label }}
                                {% if field.field.required %}
                                    <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                {% endif %}
                            </label>
                            {% if field.name == "data_nasc_candidato" %}
                                <div class="input-group mb-3">
                                    {{ field }}
                                    <span class="input-group-text" id="calendar_icon"><i class="fa-regular fa-calendar"></i></span><span class="input-group-text" id="basic-addon2">{{ field.help_text }}</span>
                                </div>
                            {% else %}
                                <div class="input-group mb-3">
                                    {{ field }}
                                </div>
                            {% endif %}  
                    
                            {{ field.errors }}
                           
                              
                        </div>                        
                    {% endfor %}
                       
                    <div style="margin-top: 20px; display: flex; justify-content: space-between; margin-bottom: 35px;">
                        <input type="button" class="btn btn-secondary btn-block" value="Anterior" style="flex: .4; margin-right: 5px" onclick="irParaFormulario()">
                        <input type="submit" class="btn btn-primary btn-block" value="Próximo" style="flex: .4;margin-left: 5px">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language : 'pt-BR'
                
            });
            
            {% comment %} $('#id_data_nasc_candidato').datepicker({
                'language' : 'pt-BR',
            }); {% endcomment %}

            $("#uf_natural").change(function () {
                var estado = $(this).val();
                $.ajax({
                    url: "{% url 'formulario:get_cidades' %}",
                    data: {estado: estado},
                    dataType: "json",
                    success: function (data) {
                        var options = "<option value=''>Selecione a cidade</option>";
                        data.cidades.forEach(function (cidade) {
                            options += "<option value='" + cidade + "'>" + cidade + "</option>";
                        });
                        $("#natural").html(options);
                    }
                });
            });
        });
    
        function irParaFormulario() {
            window.location.href = "{% url 'formulario:formulario_dados_candidato' objeto.id %}";
        }       

      </script>

      
{% endblock %}