{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Formulário {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
            
                <form action="{% url 'formulario:formulario_enderecos_enviado' objeto.id %}" method="POST">
                    {% csrf_token %}

                    <div class="row justify-content-center">
                        <div class="col-md-6"> 
                            <h1 style="font-size:190%">Endereços</h1>
                            <p>Declarar em ordem cronológica todos os lugares onde residiu e reside, a partir dos 10 anos de idade:</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6"> <!-- Aumentei a largura da coluna para que a tabela seja mais ampla -->
                            {{ form_enderecos.management_form }}
                            <div class="errorlist">
                                {% if form_enderecos.errors %}
                                    {% for error in form_enderecos.errors %}
                                        {% if forloop.first %}
                                            {{ error }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">
                                            <b style="font-size: 30px;">Endereços</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in form_enderecos %}
                                    <tr class="inlineform">
                                        <td> <!-- A segunda coluna ocupa o espaço restante -->
                                            {% for f in field.visible_fields %} 
                                                <div class="mb-3">
                                                    <b>{{ f.label }}: </b>
                                                    {% if field.field.required %}
                                                    <b style="color: #FF0000; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                                    {% endif %}
                                                    {% if f.name == "idade_inicio" or f.name == "idade_fim" %}
                                                        <div class="input-group mb-3">
                                                            {{ f }}
                                                            <span class="input-group-text" id="basic-addon2">{{ f.help_text }}</span>
                                                        </div>
                                                    {% else %}
                                                        {{ f }}
                                                    {% endif %}
                                                </div> 
                                                {% for f in field.hidden_fields %}    
                                                {{ f }}
                                                {% endfor %}  
                                            {% endfor %}  
                                        </td>
                                    </tr>        
                                    {% endfor %}   
                                </tbody>
                            </table>  
                        </div>  
                    </div>          
                         
                    <div class="row justify-content-center" >
                        <div class="col-md-5">
                            <div style="margin-top: 20px; display: flex; justify-content: space-between; margin-bottom: 90px;">
                                <input type="button" class="btn btn-secondary btn-block" value="Anterior" style="flex: .4; margin-right: 5px" onclick="irParaFormulario()">
                                <input type="submit" class="btn btn-primary btn-block" value="Próximo" style="flex: .4;margin-left: 5px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.inlineform').formset({
                prefix: '{{ form_enderecos.prefix }}',
                addText: "Adicionar novo Endereço",
                deleteText: "Remover",      
                deleteCssClass: 'btn btn-danger',
                addCssClass: 'btn btn-primary',          
            });   
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language : 'pt-BR'
            }); 
        });
    </script>
    

    <script>
        function irParaFormulario() {
            window.location.href = "{% url 'formulario:formulario_servico_militar' objeto.id %}";
        }
    </script>

{% endblock scripts %}
