{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Formulário {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
            
                <form action="{% url 'formulario:formulario_familiares_enviado' to_page.id %}" method="POST">
                    {% csrf_token %}

                    <div class="row justify-content-center">
                        <div class="col-md-6"> 
                            <h1 style="font-size:190%">Dados Familiares</h1>

                            <p>Dê completas informações sobre seus pais e irmãos. Se você foi criado por padrastos, tutores legais ou outras pessoas que não eram seus pais,
                                a informação solicitada deve abrangê-los também.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6"> <!-- Aumentei a largura da coluna para que a tabela seja mais ampla -->
                            {{ form_familiares.management_form }}
                            <div class="errorlist">
                                {% if form_familiares.errors %}
                                    {% for error in form_familiares.errors %}
                                        {% if forloop.first %}
                                            {{ error }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">
                                            <b style="font-size: 30px;">Familiares</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in form_familiares %}
                                    <tr class="inlineform">
                                        <td> <!-- A segunda coluna ocupa o espaço restante -->
                                            {% for f in field.visible_fields %} 
                                                <div class="mb-3">
                                                    <b>{{ f.label }}: </b>
                                                    {% if field.field.required %}
                                                    <b style="color: #FF0000; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                                    {% endif %}
                                                    {{ f }}
                                                </div> 
                                                {% for f in field.hidden_fields %}    
                                                {{ f }}
                                                {% endfor %}  
                                            {% endfor %}  
                                        </td>
                                    </tr>        
                                    {% endfor %}   
                                </tbody>
                            </table>  
                        </div>  
                    </div>          
                    
                    <div class="row justify-content-center">
                        <div class="col-md-6">

                            <div class="input-group col-md-6">
                                <label for="{{ form_dados_filho.possui_filho.id_for_label }}">
                                    {{ form_dados_filho.possui_filho.label }}
                                        <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                </label>     
                                <div class="input-group mb-3">
                                    {{ form_dados_filho.possui_filho }}
                                </div>  
                                {% if form_inquerito_1.tem_intimacao_processo.help_text %}
                                    <p class="help-text">{{ form_dados_filho.possui_filho.help_text }}</p>
                                {% endif %}
                                {{ form_dados_filho.possui_filho.errors }}
                            </div>
                            <div class="input-group col-md-6">
                                <label for="{{ form_dados_filho.detalhes_filho.id_for_label }}">
                                    {{ form_dados_filho.detalhes_filho.label }}

                                </label>     
                                <div class="input-group mb-3">
                                    {{ form_dados_filho.detalhes_filho }}
                                </div>  
                                {% if form_inquerito_1.tem_intimacao_processo.help_text %}
                                    <p class="help-text">{{ form_dados_filho.detalhes_filho.help_text }}</p>
                                {% endif %}
                                {{ form_dados_filho.detalhes_filho.errors }}
                            </div>
                        </div>
                    </div>                 

                    <div class="row justify-content-center" style="margin-top: 20px; margin-bottom: 20px" id="tabela-filhos">
                        <div class="col-md-6"> <!-- Aumentei a largura da coluna para que a tabela seja mais ampla -->
                            {{ form_filho.management_form }}
                            <div class="errorlist">
                                {% if form_filho.errors %}
                                    {% for error in form_filho.errors %}
                                        {% if forloop.first %}
                                            {{ error }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <p>Relacione abaixo todos os seus filhos caso possua:</p>
                            
                            <table class="table table-bordered table-hover" id="custom-table">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">
                                            <b style="font-size: 30px;">Filhos</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in form_filho %}
                                    <tr class="inlineform-filho">
                                        <td> <!-- A segunda coluna ocupa o espaço restante -->
                                            {% for f in field.visible_fields %} 
                                            <div class="mb-3">
                                                <b>{{ f.label }}: </b>
                                                {% if field.field.required %}
                                                <b style="color: #FF0000; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                                {% endif %}
                                                {{ f }}
                                            </div> 
                                            {% for f in field.hidden_fields %}    
                                            {{ f }}
                                            {% endfor %}  
                                            {% endfor %}  
                                        </td>
                                    </tr>        
                                    {% endfor %}   
                                </tbody>
                            </table>  
                        </div>  
                        <hr style="margin-top: 20px">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6">

                            <div class="input-group col-md-6">
                                <label for="{{ form_dados_filho.sustentando_filho.id_for_label }}">
                                    {{ form_dados_filho.sustentando_filho.label }}
                                        <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                </label>     
                                <div class="input-group mb-3">
                                    {{ form_dados_filho.sustentando_filho }}
                                </div>  
                                {% if form_inquerito_1.tem_intimacao_processo.help_text %}
                                    <p class="help-text">{{ form_dados_filho.sustentando_filho.help_text }}</p>
                                {% endif %}
                                {{ form_dados_filho.sustentando_filho.errors }}
                            </div>
                            <div class="input-group col-md-6">
                                <label for="{{ form_dados_filho.detalhes_nao_sustentando_filho.id_for_label }}">
                                    {{ form_dados_filho.detalhes_nao_sustentando_filho.label }}
                                        <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                </label>     
                                <div class="input-group mb-3">
                                    {{ form_dados_filho.detalhes_nao_sustentando_filho }}
                                </div>  
                                {% if form_inquerito_1.tem_intimacao_processo.help_text %}
                                    <p class="help-text">{{ form_dados_filho.detalhes_nao_sustentando_filho.help_text }}</p>
                                {% endif %}
                                {{ form_dados_filho.detalhes_nao_sustentando_filho.errors }}
                            </div>
                        </div>
                    </div>
                
                    <div class="row justify-content-center" >
                        <div class="col-md-5">
                            <div style="margin-top: 20px; display: flex; justify-content: space-between; margin-bottom: 90px;">
                                <input type="button" class="btn btn-secondary btn-block" value="Anterior" style="flex: .4; margin-right: 5px" onclick="irParaFormulario()">
                                <input type="submit" class="btn btn-primary btn-block" value="Próximo" style="flex: .4;margin-left: 5px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.inlineform').formset({
                prefix: '{{ form_familiares.prefix }}',
                addText: "Adicionar novo Familiar",
                deleteText: "Remover", 
                deleteCssClass: 'btn btn-danger',
                addCssClass: 'btn btn-primary',               
            });
            $('.inlineform-filho').formset({
                prefix: '{{ form_filho.prefix }}',
                addText: "Adicionar novo Filho",
                deleteText: "Remover",  
                deleteCssClass: 'btn btn-danger',
                addCssClass: 'btn btn-primary',              
            });        
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language : 'pt-BR'
            }); 

            function toggleInputs5() {
                var radioSim = document.getElementById("id_possui_filho_1");
                var input1 = document.getElementById("tabela-filhos");
            
                if (radioSim.checked) {
                    input1.style.display = ""; // Para mostrar o elemento
                } else {
                    input1.style.display = "none"; // Para ocultar o elemento
                    input1.value = radioSim.checked ? input1.value : "";
                }
            }
            
            var radioSim = document.getElementById("id_possui_filho_1");
            var radioNao = document.getElementById("id_possui_filho_2");
            
            radioSim.addEventListener("change", toggleInputs5);
            radioNao.addEventListener("change", toggleInputs5);
            
            toggleInputs5();
            
        });
    </script>
    

    <script>
        function irParaFormulario() {
            window.location.href = "/formulario_dados_bancarios";
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const fieldToHide = document.getElementById("id_possui_filho_0");
        
        if (fieldToHide) {
            fieldToHide.style.display = "none";
    
            const labelForField = document.querySelector(`label[for='${fieldToHide.id}']`);
            
            if (labelForField) {
                labelForField.style.display = "none";
            }
        }
    
        const simRadio = document.getElementById("id_possui_filho_1");
        const naoRadio = document.getElementById("id_possui_filho_2");
        const numDelInput = document.getElementById("id_detalhes_filho");
    
        function toggleNumDelInput() {
            numDelInput.disabled = !simRadio.checked;
            numDelInput.value = simRadio.checked ? numDelInput.value : "";
        }
    
        simRadio.addEventListener("change", toggleNumDelInput);
        naoRadio.addEventListener("change", toggleNumDelInput);
    
        toggleNumDelInput();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const fieldToHide = document.getElementById("id_possui_filho_0");
            
            if (fieldToHide) {
                fieldToHide.style.display = "none";
        
                const labelForField = document.querySelector(`label[for='${fieldToHide.id}']`);
                
                if (labelForField) {
                    labelForField.style.display = "none";
                }
            }
        
            const simRadio = document.getElementById("id_possui_filho_1");
            const naoRadio = document.getElementById("id_possui_filho_2");
            const numDelInput = document.getElementById("id_detalhes_filho");
        
            function toggleNumDelInput() {
                numDelInput.disabled = !simRadio.checked;
                numDelInput.value = simRadio.checked ? numDelInput.value : "";
            }
        
            simRadio.addEventListener("change", toggleNumDelInput);
            naoRadio.addEventListener("change", toggleNumDelInput);
        
            toggleNumDelInput();
            });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const fieldToHide = document.getElementById("id_sustentando_filho_0");
            
            if (fieldToHide) {
                fieldToHide.style.display = "none";
        
                const labelForField = document.querySelector(`label[for='${fieldToHide.id}']`);
                
                if (labelForField) {
                    labelForField.style.display = "none";
                }
            }
        
            const simRadio = document.getElementById("id_sustentando_filho_1");
            const naoRadio = document.getElementById("id_sustentando_filho_2");
            const numDelInput = document.getElementById("id_detalhes_nao_sustentando_filho");
        
            function toggleNumDelInput() {
                if (simRadio.checked) {
                    numDelInput.disabled = true;
                    numDelInput.value = "";
                } else {
                    numDelInput.disabled = false;
                }
            }
        
            simRadio.addEventListener("change", toggleNumDelInput);
            naoRadio.addEventListener("change", toggleNumDelInput);
            
            // Inicialmente, definir o campo "id_detalhes_nao_sustentando_filho" como desativado
            numDelInput.disabled = true;
            toggleNumDelInput();
        });
    </script>
{% endblock scripts %}
