{% extends 'menu.html' %}

{% block title %} Formulário {% endblock %}

{% block content %}
<nav aria-label="...">
    <ul class="pagination pagination justify-content-center" style="margin-top:30px">
        <li class="page-item " aria-current="page">
            <a class="page-link" href="/formulario">1</a>
        </li>
        <li class="page-item active"><span class="page-link">2</span></li>
        <li class="page-item"><a class="page-link" href="">3</a></li>
    </ul>
</nav>
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="font-size:190%">Formulário Email</h1>
            
            <form action="{% url 'formulario:formulario_enviado_2' %}" method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="input-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="input-group mb-3">
                            {{field}}
                        </div>
                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                    {{ field.errors }}                         
                {% endfor %}               

                <div style="margin-top: 20px;" class="form-group">
                    <!-- Button -->
                    {% comment %} <div class="position-fixed bottom-0 end-0 p-3"> {% endcomment %}
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </div>  
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}