{% extends 'menu.html' %}

{% block title %} Formulário {% endblock %}

{% block content %}
<nav aria-label="...">
    <ul class="pagination pagination justify-content-center" style="margin-top:30px">
        <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="/formulario">2</a></li>
        <li class="page-item"><a class="page-link" href="/formulario_dois">3</a></li>
    </ul>
</nav>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 style="font-size:190%">Formulário</h1>
                <form action="{% url 'formulario' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {% comment %} <span class="input-group-text" id="basic-addon1">@</span> {% endcomment %}
                        <input name="nome_candidato" type="text" class="form-control" placeholder="Nome Completo" required>
                    </div>
                    
                    <div class="input-group mb-3">
                        <input name="data_nasc" type="date" class="form-control" placeholder="Date" required>
                    </div>
            
                    <div style="margin-top: 20px;" class="form-group">
                        <!-- Button -->
                        {% comment %} <div class="position-fixed bottom-0 end-0 p-3"> {% endcomment %}
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}