{% extends 'base.html' %}

{% block title %} Formulário {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9">
                {% comment %} <h1 style="font-size:190%">Parente Policial e amigos</h1> {% endcomment %}
                                
                <form action="{% url 'formulario:formulario_parente_policial_amigos_enviado' objeto.id %}" method="POST">
                    {% csrf_token %}

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <h1 style="font-size:190%">Parente Policial e amigos</h1>
                            
                            <div class="input-group col-md-6">
                                <label for="{{ form_tem_parente_polical.tem_parente_policial.id_for_label }}">
                                    {{ form_tem_parente_polical.tem_parente_policial.label }}
                                        <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                </label>     
                                <div class="input-group mb-3">
                                    {{ form_tem_parente_polical.tem_parente_policial }}
                                </div>  
                                {% if form_inquerito_1.tem_intimacao_processo.help_text %}
                                    <p class="help-text">{{ form_tem_parente_polical.tem_parente_policial.help_text }}</p>
                                {% endif %}
                                {{ form_tem_parente_polical.tem_parente_policial.errors }}
                            </div>
                        </div>
                    </div>  

                    <div class="row justify-content-center"  style="margin-bottom: 20px;" id="tabela-parente-policial">
                        <div class="col-md-6"> <!-- Aumentei a largura da coluna para que a tabela seja mais ampla -->
                            <p>Possue algum parente trabalhando ou que já trabalhou na policia?</p>
                            {{ form_parente_policial.management_form }}
                            <div class="errorlist">
                                {% if form_parente_policial.errors %}
                                    {% for error in form_parente_policial.errors %}
                                        {% if forloop.first %}
                                            {{ error }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">
                                            <b style="font-size: 30px;">Parente Policial</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in form_parente_policial %}
                                    <tr class="inlineform">
                                        <td> <!-- A segunda coluna ocupa o espaço restante -->
                                            {% for f in field.visible_fields %} 
                                                <div class="mb-3">
                                                    <b>{{ f.label }}: </b>
                                                    {% if field.field.required %}
                                                    <b style="color: #FF0000; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                                    {% endif %}
                                                    {% if f.name == "data_delito" %}
                                                            {{ f }}
                                                            <span class="input-group-text" id="basic-addon2">{{ f.help_text }}</span>
                                                    {% else %}
                                                        {{ f }}
                                                    {% endif %}
                                                </div> 
                                                {% for f in field.hidden_fields %}    
                                                {{ f }}
                                                {% endfor %}  
                                            {% endfor %}  
                                        </td>
                                    </tr>        
                                    {% endfor %}   
                                </tbody>
                            </table>  
                        </div>  
                        <hr style="margin-top: 20px">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div style="margin-bottom: 10px;">
                                <b>Cite três pessoas que não sejam parentes ou ex-empregadores:</b>
                            </div>
                            
                            {% for field in form_amigos %}
                                    {% if field.label == "Nome completo 2" %}
                                        <hr>
                                    {% endif %}
                                    {% if field.label == "Nome completo 3" %}
                                        <hr>
                                    {% endif %}
                                <div class="input-group col-md-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}
                                        {% if field.field.required %}
                                            <b style="color: #FF0000; text-decoration: none; font-size: 18px;" href="#" title="Este campo é obrigatório" data-toggle="tooltip">*</b>
                                        {% endif %}
                                    </label>               
                                    
                                    <div class="input-group mb-3">
                                        {{field}}
                                        {% if field.help_text %}
                                            <span class="input-group-text" id="basic-addon2">{{ field.help_text }}</span>
                                        {% endif %}
                                        {{ field.errors }}
                                    </div>
                                    
                                </div>                       
                            {% endfor %}

                            <div style="margin-top: 20px; display: flex; justify-content: space-between; margin-bottom: 95px;">
                                <input type="button" class="btn btn-secondary btn-block" value="Anterior" style="flex: .4; margin-right: 5px" onclick="irParaFormulario()">
                                <input type="submit" class="btn btn-primary btn-block" value="Próximo" style="flex: .4;margin-left: 5px">
                            </div>
  
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $('.inlineform').formset({
                prefix: '{{ form_parente_policial.prefix }}',
                addText: "Adicionar novo Parente",
                deleteText: "Remover",
                deleteCssClass: 'btn btn-danger',
                addCssClass: 'btn btn-primary',
            });
            var camposParaEsconder = [
                "id_tem_parente_policial_0",
            ];
        
            camposParaEsconder.forEach(function(idCampo) {
                var fieldToHide = document.getElementById(idCampo);
                if (fieldToHide) {
                    fieldToHide.style.display = "none";
        
                    // Encontre o rótulo associado ao campo
                    var labelForField = document.querySelector("label[for='" + idCampo + "']");
                    if (labelForField) {
                        labelForField.style.display = "none";
                    }
                }
            });

            function toggleInputs() {
                var radioSim = document.getElementById("id_tem_parente_policial_1");
                var input1 = document.getElementById("tabela-parente-policial");
            
                if (radioSim.checked) {
                    input1.style.display = ""; // Para mostrar o elemento
                } else {
                    input1.style.display = "none"; // Para ocultar o elemento
                    input1.value = radioSim.checked ? input1.value : "";
                }
            }
            
            var radioSim = document.getElementById("id_tem_parente_policial_1");
            var radioNao = document.getElementById("id_tem_parente_policial_2");
            
            radioSim.addEventListener("change", toggleInputs);
            radioNao.addEventListener("change", toggleInputs);
            
            toggleInputs();
        })
    </script>
    <script>
        function irParaFormulario() {
            window.location.href = "/formulario_conjuge_familia";
        }
    </script>
{% endblock scripts %}
