{% extends 'index.html' %}

{% block title %} Confirmar matrícula {% endblock %} 

{% block content %}
<div class="container col-md-7 offset-md-4">
    <div id="matriculabox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="card card-body" >
            <div class="card-header">
                <div class="card-title" style="font-size:130%;">Confirmar Matrícula ou CPF</div>
            </div>  

            <div style="padding-top:30px" class="card-body" >
                <div style="display:none" id="matricula-alert" class="alert alert-danger col-sm-12"></div>

                <form action="{% url 'confirma_matricula' %}" method="POST"> 
                    {{ error }}
                    {% csrf_token %}
                    <label for="cpf_matricula" class="dark-text-emphasis-dark" style="margin-bottom:5px; font-weight: bold;">Necessário o CPF ou Número da Matrícula para se cadastrar</label>

                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control"  id="floatingInputGroup1" name="cpf_matricula" placeholder="CPF ou Matrícula" required>                                        
                            <label for="floatingInputGroup1">CPF ou N° da Matrícula</label>
                        </div>
                    </div> 


                    <div style="margin-top: 20px;" class="form-group">
                        <!-- Button -->
                        <div class="row mx-auto">
                            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
                        </div>
                    </div>                                      
                            
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}