{% extends 'index.html' %}

{% block title %} Login {% endblock %} 

{% block content %}
<div class="container col-md-7 offset-md-4">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-5">                    
        <div class="card card-body" >
            <div class="card-header">
                <div class="card-title" style="font-size:130%;">Login</div>
                
            </div>     

            <div style="padding-top:30px" class="card-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    
                <form action="{% url 'login' %}" method="POST"> 
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {{ error }}
                    {% csrf_token %}
                            
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-text" ><i class="fa-regular fa-user"></i></span>
                        <div class="form-floating">
                            <input type="text" class="form-control"  id="floatingInputGroup1" name="cpf" placeholder="CPF" required>                                        
                            <label for="floatingInputGroup1">CPF</label>
                        </div>
                    </div>
                        
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                        <div class="form-floating">
                            <input type="password" class="form-control"  id="floatingInputGroup1" name="password" placeholder="Senha" required>
                            <label for="floatingInputGroup1">Senha</label>
                        </div>
                    </div>
                    
                    <div style="float:right; font-size: 100%; position: relative; top:-10px"><a href="#">Esqueceu a senha?</a></div>

                        
                    {% comment %} <div class="input-group">
                            <div class="checkbox">
                                <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Lembrar-me
                                </label>
                            </div>
                    </div> {% endcomment %}


                    <div style="margin-top:10px;" class="form-group">
                        <!-- Button -->

                        <div class="d-grid gap-2 mx-auto" style="width: 100%; margin-top:60px; margin-bottom: 10px;">
                            <input type="submit" class="btn btn-success" value="Logar">
                        </div>
                        
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:3%; font-size:100%;" >
                                Não possui conta! 
                                <a href="/confirma_matricula">
                                Cadastre-se Aqui
                                </a>
                            </div>
                        </div>
                    </div>    
                </form>     
            </div>                     
        </div>  
</div>
{% endblock %}