<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricula</title>
</head>
<body>
    <form action="{% url 'matricula' %}" method="POST"> {% csrf_token %}
        <input type="text" name="matricula" placeholder="N° Matricula...">
        <br>
        <input type="text" name="cpf" placeholder="CPF..." size="11">
        <br>
        <input type="submit" value="matricular">
    </form>
</body>
</html>