{% extends 'index.html' %}

{% block title %} Matricula {% endblock %} 

{% block content %}
<div class="container col-md-7 offset-md-4">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-5">                    
        <div class="card card-body" >
            <div class="card-header">
                <div class="card-title" style="font-size:130%;">Cadastrar novo usuário</div>
                
            </div>     

            <div style="padding-top:30px" class="card-body" >

                <div style="display:none" id="matricula-alert" class="alert alert-danger col-sm-12"></div>
                    
                <form action="{% url 'matricula_enviado' %}" method="POST"> 
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{field}}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            

                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                        {{ field.errors }}                         
                    {% endfor %}               
                    

                    <div style="margin-top:10px;" class="form-group">
                        <!-- Button -->

                        <div class="d-grid gap-2 mx-auto" style="width: 100%; margin-top:30px; margin-bottom: 10px;">
                            <input type="submit" class="btn btn-success" value="Cadastrar">
                        </div>
                        
                        
                    </div>    
                </form>     
            </div>                     
        </div>  
</div>
{% endblock %}
